@import "vendors/main";
@import "abstracts/main";
@import "components/main";
@import "layout/main";
@import "pages/main";

@font-face {
  font-family: 'kristi';
  src: url('../../assets/fonts/Kristi-Regular.ttf');
}

@font-face {
  font-family: 'goudy';
  src: url('../../assets/fonts/OFLGoudyStM.otf');
}

@font-face {
  font-family: 'benton book';
  src: url('../../assets/fonts/BentonSans Book.otf');
}
@font-face {
  font-family: 'benton thin';
  src: url('../../assets/fonts/BentonSans Thin.otf');
}
