html
  head
    title Daniel Lopez
    script(src="/js/jquery-3.2.1.min.js")
    script(src="build/js/app.js")
    link(rel="stylesheet" type="text/css" href="build/css/styles.css")
  body
  #grid
    header
      h1 Daniel Lopez
      img(src="../images/logo-white.png")
    nav
      h3 This is how to contact me
    .featured-image
    .container
      .container-head
        h2 Projects
        .pagination
      h3 this is where there content goes
    footer © copyright goes here
