html
  head
    title Daniel Lopez
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/js/jquery-3.2.1.min.js")
    script(src="build/js/app.js")
    link(rel="stylesheet" type="text/css" href="build/css/styles.css")
  body
  #grid
    header
      img(src="../assets/images/logo-white.png")
      h2 Daniel Lopez
      h4 Web Designer
      h4 &
      h4 Web Developer
    nav
      ul#nav-ul
        a(href="#projects-anchor")
          li.projects-nav Projects
        li.about-nav About Me
        a(href="https://github.com/DLopez6877")
          li My Github
        li.contact-nav Contact
        .contact-info.initially-hidden
          a(href='https://www.linkedin.com/in/dlopez6877/')
            .icon
              img(src='../assets/images/linkedin-icon.png')
            p LinkedIn
          a(href='mailto:dlopez6877@gmail.com')
            .icon
              img(src='../assets/images/email-icon.png')
            p E-mail
    .featured-image
      //-  all photos taken from unsplash.com
      //-     robot photo provided by Siyan Ren
      //-     bananna photo provided by Mike Dorner
      //-     pills photo provided by freestocks.org
      //-     heart photo provided by Bart Larue
      //-     lego photo provided by Daniel Cheung
    .container#about-container.initially-hidden
      .container-head
        h1 About
      p#bio Daniel Lopez is a web developer, web designer, and full-time geek. He spends most of his time inside his humble abode in front of his computer in Vancouver, WA. Although he is a simple man, he likes to dabble in complex theories and considers himself a tinker of things and stuff. You could imagine his excitement when he discovered Arduino boards for the first time a few months ago. Can you say, “instant hobby”? Although his bio is a bit odd and he is referring to himself in the third person, Daniel is a delightful character that strides headfirst into new challenges.
      ul
        li Employment Status: <span>Looking for a job.</span>
        br
        li Favorite Book: <span>Ready Player One</span>
        br
        li Favorite TV Show: <span>Rick and Morty</span>
        br
        li Favorite Video Game: <span>Fifa</span>
        br
        li Favorite Soccer Team: <span>Portland Timbers</span>
        br
    .container#project-container
      #projects-anchor.container-head
        h1 Projects
        .pagination
          .page-link.active-page-link.page-link1
          .page-link.page-link2
          .page-link.page-link3
          .page-link.page-link4
          .page-link.page-link5
      .feature-wrapper#project1
        .featured-project
          h2 P.O.L.L.I. the robotic arm
          .featured-project-image.project1
            img(src="../assets/images/devices1.png")
          .image-links
            .image-link
              img(src="../assets/images/phone1.png")
            .image-link
              img(src="../assets/images/tablet1.png")
            .image-link
              img(src="../assets/images/laptop1.png")
            .image-link
              img(src="../assets/images/desktop1.png")
        .additional-infos
          a(href="https://sigtaba.github.io/P.O.L.L.I/")
            .additional-info Website
          a(href="https://github.com/irishdowd10/P.O.L.L.I")
            .additional-info Github
          a(href="https://www.youtube.com/watch?v=2-coaPPl-Yk&feature=youtu.be")
            .additional-info Video
        .description
          p P.O.L.L.I is an interactive robotic arm that can be controlled through a mobile-friendly website or by hand motion. The project was proposed by John Dowd during week 5 of the Javascript course at Epicodus. Pete Lazuran, Isabella Abatgis, and myself quickly signed on as members. 
          p The project was created using Johnny-Five to write the robotic-specific methods in JavaScript and using express as middleware to make the user-interface.
      .feature-wrapper#project2.initially-hidden
        .featured-project
          h2 Dad Joke Generator
          .featured-project-image.project2
            img(src="../assets/images/devices2.png")
          .image-links
            .image-link
              img(src="../assets/images/phone2.png")
            .image-link
              img(src="../assets/images/tablet2.png")
            .image-link
              img(src="../assets/images/laptop2.png")
            .image-link
              img(src="../assets/images/desktop2.png")
        .additional-infos
          a(href="http://rawgit.com/calvincushman/dad-joke-generator/master/index.html")
            .additional-info Website
          a(href="https://github.com/calvincushman/dad-joke-generator")
            .additional-info Github
        .description
          p P.O.L.L.I is an interactive robotic arm that can be controlled through a mobile-friendly website or by hand motion. The project was proposed by John Dowd during week 5 of the Javascript course at Epicodus. Pete Lazuran, Isabella Abatgis, and myself quickly signed on as members. 
          p The project was created using Johnny-Five to write the robotic-specific methods in JavaScript and using express as middleware to make the user-interface.
      .feature-wrapper#project3.initially-hidden
        .featured-project
          h2 Find a Doctor
          .featured-project-image.project3
            img(src="../assets/images/devices3.png")
          .image-links
            .image-link
              img(src="../assets/images/phone3.png")
            .image-link
              img(src="../assets/images/tablet3.png")
            .image-link
              img(src="../assets/images/laptop3.png")
            .image-link
              img(src="../assets/images/desktop3.png")
        .additional-infos
          a(href="https://github.com/DLopez6877/doctor-api")
            .additional-info Github
        .description
          p P.O.L.L.I is an interactive robotic arm that can be controlled through a mobile-friendly website or by hand motion. The project was proposed by John Dowd during week 5 of the Javascript course at Epicodus. Pete Lazuran, Isabella Abatgis, and myself quickly signed on as members. 
          p The project was created using Johnny-Five to write the robotic-specific methods in JavaScript and using express as middleware to make the user-interface.
      .feature-wrapper#project4.initially-hidden
        .featured-project
          h2 Funder
          .featured-project-image.project4
            img(src="../assets/images/devices4.png")
          .image-links
            .image-link
              img(src="../assets/images/phone4.png")
            .image-link
              img(src="../assets/images/tablet4.png")
            .image-link
              img(src="../assets/images/laptop4.png")
            .image-link
              img(src="../assets/images/desktop4.png")
        .additional-infos
          a(href="https://github.com/DLopez6877/funder")
            .additional-info Github
        .description
          p P.O.L.L.I is an interactive robotic arm that can be controlled through a mobile-friendly website or by hand motion. The project was proposed by John Dowd during week 5 of the Javascript course at Epicodus. Pete Lazuran, Isabella Abatgis, and myself quickly signed on as members. 
          p The project was created using Johnny-Five to write the robotic-specific methods in JavaScript and using express as middleware to make the user-interface.
      .feature-wrapper#project5.initially-hidden
        .featured-project
          h2 Weekend Project Portfolio
          .featured-project-image.project4
            img(src="../assets/images/devices5.png")
          .image-links
            .image-link
              img(src="../assets/images/phone5.png")
            .image-link
              img(src="../assets/images/tablet5.png")
            .image-link
              img(src="../assets/images/laptop5.png")
            .image-link
              img(src="../assets/images/desktop5.png")
        .additional-infos
          a(href="http://rawgit.com/dlopez6877/portfolio-redux/master/portfolio.html")
            .additional-info Website
          a(href="https://github.com/DLopez6877/portfolio-redux")
            .additional-info Github
        .description
          p P.O.L.L.I is an interactive robotic arm that can be controlled through a mobile-friendly website or by hand motion. The project was proposed by John Dowd during week 5 of the Javascript course at Epicodus. Pete Lazuran, Isabella Abatgis, and myself quickly signed on as members. 
          p The project was created using Johnny-Five to write the robotic-specific methods in JavaScript and using express as middleware to make the user-interface.
    footer
      .copy © Daniel J. Lopez
