html
  head
    title Daniel Lopez
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/js/jquery-3.2.1.min.js")
    script(src="build/js/app.js")
    link(rel="stylesheet" type="text/css" href="build/css/styles.css")
  body
  #intro
    img(src="/assets/images/logo-slash.svg")
    img(src="/assets/images/logo-flick.svg")
    #flick
    #slash
    img(src="/assets/images/logo-initials.svg")
  #grid
    header
      img(src="/assets/images/logo-white.png")
      h2 Daniel Lopez
      h4 Web Developer
      h4 &
      h4 Web Designer
    nav
      ul#nav-ul
        a(href="#projects-anchor")
          li.projects-nav Projects
        li.about-nav About Me
        a(href="https://github.com/DLopez6877")
          li My Github
        li.contact-nav Contact
        .contact-info.initially-hidden
          a(href='https://www.linkedin.com/in/dlopez6877/')
            .icon
              img(src='/assets/images/linkedin-icon.png')
            p LinkedIn
          a(href='mailto:dlopez6877@gmail.com')
            .icon
              img(src='/assets/images/email-icon.png')
            p Gmail
    .featured-image
      //-  all photos taken from unsplash.com
      //-     robot photo provided by Siyan Ren
      //-     desk photo provided by Redd Angelo
      //-     pills photo provided by freestocks.org
      //-     drink photo provided by Joanna Kosinska
      //-     lego photo provided by Daniel Cheung
    .container#about-container.initially-hidden
      .container-head
        h1 About Me
      p#bio Daniel Lopez is a web developer, web designer, and full-time geek. He spends most of his time inside his humble abode in front of his computer in Vancouver, WA. Although he is a simple man, he likes to dabble in complex theories and considers himself a tinker of things and stuff. You could imagine his excitement when he discovered Arduino boards for the first time a few months ago. Can you say, “instant hobby”? Although his bio is a bit odd and he is referring to himself in the third person, Daniel is a delightful character that strides headfirst into new challenges.
      ul
        li 
          a(href="https://codepen.io/DLopez6877/") Codepen: <span>https://codepen.io/DLopez6877/</span>
        br
        br
        li Employment Status: <span>Looking for a job.</span>
        br
        li Favorite Book: <span>Ready Player One</span>
        br
        li Favorite TV Show: <span>Rick and Morty</span>
        br
        li Favorite Video Game: <span>Fifa</span>
        br
        li Favorite Soccer Team: <span>Portland Timbers</span>
        br
    .container#project-container
      #projects-anchor.container-head
        h1 Projects
        .pagination
          .page-link.active-page-link.page-link1
          .page-link.page-link2
          .page-link.page-link3
          .page-link.page-link4
          .page-link.page-link5
          h5 <span id="prev"><i>←</i> previous</span> | <span id="next">next <i>→</i></span>
      .feature-wrapper#project1
        h2 P.O.L.L.I.
        .featured-project
          .tldr
            h5 The robotic arm that you can control with hand motion or through a mobile-friendly website.
            h5 Technologies: Node.js, Socket.io, Johnny-Five, Express, Leap Motion Controller, Arduino Uno, JQuery
            a(href="#projects-anchor")
              .learn-more Learn more
          .additional-infos
            a(href="https://sigtaba.github.io/P.O.L.L.I/")
              .additional-info View Site
            a(href="https://github.com/irishdowd10/P.O.L.L.I")
              .additional-info View Code
            a(href="https://www.youtube.com/watch?v=2-coaPPl-Yk&feature=youtu.be")
              .additional-info Video
          .featured-project-image.project1
            img(src="/assets/images/devices1.png")
        .description
          h3 About
          h5 P.O.L.L.I. was created over the span of 6 days at Epicodus. Isabella Abatgis and I paired with John Dowd and Pete Lazuran from the C# cohort to create something that had never been done at Epicodus before. A robotic arm that mimics your hand motion and saves a log of it's movements to a database for data analytics.
          h3 My roles
          h5 Build robot, Johnny-Five, MongoDB, express middleware, front-end interface, project proposal, and README.md
          h3 Process
          h5 The first two days of the project were spent physically building the robot as a team and doing research. We made a document that outlined the project plan and formally proposed the idea to the instructor for approval. Once the arm was constructed I began setting up a MEAN stack application and running tests to communicate with an LED from the web browser. By the weekend I was able to control the LED but was unable to successfully communicate with the robots board through the arduino.
          h5 The following Monday we had a breakthrough when we removed the robotic arms board and connected the servo motors directly to the arduino board. Unfortunately, the breakthrough was only working on a simple test server we had setup without the MEAN stack and due to the short timeframe we abandoned the MEAN stack repository. I knew I was close to getting everything to work which later motivated me to make a drink mixing robot.
          h5 From that point forward, I focused my attention on working with Isabella to design to build the interface while John and Pete worked on logging the movements and connecting the input fields to the Johnny-Five methods.
          a(href="#projects-anchor")
            .back-overview <i>←</i>back to overview
      .feature-wrapper#project2.initially-hidden
        h2 ⑇simpleColor
        .featured-project
          .tldr
            h5 A color theory website that allows you to say or type a color and receive color pallette information without all the confusing gizmos.
            h5 Technologies: Gulp, NPM, p5.speech.js, tinycolor.js, thecolorapi, JQuery, Ajax, Sass
            a(href="#projects-anchor")
              .learn-more Learn more
          .additional-infos
            a(href="https://dlopez6877.github.io/simpleColor/")
              .additional-info View Site
            a(href="https://github.com/DLopez6877/simpleColor")
              .additional-info View Code
          .featured-project-image.project2
            img(src="/assets/images/devices2.png")
        .description
          h3 About
          h5 I was frustrated with all the extra features color pallette sites have so I created simple color. The idea is to make it as simple as possible to enter a color and get back hexcodes of the related colors you want.
          h3 Process
          h5 I began ⑇simpleColor during the "bring your own project night" at the monthly front-end PDX meetup I attend. At the time, the only project I was working on was for my internship at ScoutSavvy and I wanted to work on something new. I kept everything to one font, vanilla css, and no javascript framework to keep with the theme of a simple website.
          h5 The original idea was to do the calculations on converting a hexcode into different color combinations but during research I discovered tinycolor.js which had most of the information I already wanted. Later on I decided to add the voice recognition because "Code Train" (a youtube channel I enjoy about p5.js) introduced the new p5 speech recognition addon developed by NYU. Once I had reached mvp I sent a link to my former epicodus classmates asking for feedback.
          h5 After getting some user feedback, I added the neutral colors, added safeguards on double clicking the hexcodes which was copying the string "COPIED!" to the clipboard, made it so that the text is highlighted when you click on the input field, and other minor bugs related to the speech input.
          a(href="#projects-anchor")
            .back-overview <i>←</i>back to overview
      .feature-wrapper#project3.initially-hidden
        h2 Find a Doctor
        .featured-project
          .tldr
            h5 Need a doctor? Enter a symptom and and address to find up to 20 doctors nearby. Receive contact information, a brief description, and a list of their specialties.
            h5 Technologies: BetterDoctor Api, Google Maps Api, Gulp, Bower, NPM, JQuery, Sass
            a(href="#projects-anchor")
              .learn-more Learn more
          .additional-infos
            a(href="https://dlopez6877.github.io/doctor-api/")
              .additional-info View Site
            a(href="https://github.com/DLopez6877/doctor-api")
              .additional-info View Code
          .featured-project-image.project3
            img(src="/assets/images/devices3.png")
        .description
          h3 About
          h5 Find a doctor was an independent project created over one weekend. This was an assignment during the JavaScript course at Epicodus to test our knowledge of working with api's. The bonus prompt for the assignment was to create a "friendly" site.
          h3 Design Choices
          h5 In the pursuit of making my site "friendly" I researched color theory for different "friendly" colors and compared those colors to different doctor related websites. I found an overwhelming use of the color blue in medical sites which was perfect because blue gives a calming, relaxed feeling. My favorite part of the web page is the splash page. I found a wonderful, relaxing doctor image from unsplash.com and make a relatable tagline of "need a doctor?". 
          h5 The call to action button originally said "find a doctor now". I added the two arrows after asking my roommate to take a look at the site, I noticed he paused for a bit and had to think because he wasn't sure where to go from the landing page.
          h3 Process
          h5 The requirements to pass the test were to simply append information from the better doctor api onto the page. However, the better doctor api uses latitude and longitude in the api call and I have never seen a website ask for my lat and lon instead of an address so that wasn't going to pass my standards. It wasn't long until I found the google maps api for geolocation and added that to solve the problem.
          h5 The most challenging part of the code for me was making all the doctors appear as though they were in one module. At the time I was unfamiliar with the concept of javascript wireframes and making module templates with dynamic information so I had to get a bit creative. I appended all the information into individual components and relatively positioned them on top of eachother. Then created a JavaScript function to compare the clicked list item with all the h1's on the page and if the inner HTML matched I displayed that headers parent and hid all of that parent's siblings.
          a(href="#projects-anchor")
            .back-overview <i>←</i>back to overview
      .feature-wrapper#project4.initially-hidden
        h2 Drinken
        .featured-project
          .tldr
            h5 Connect to this robotic bartender on your phone and select a drink from a menu and select the size you want. Drinken will pour it. You are also able to create, remove, update, and delete drink recipes from the beautiful user-friendly interface. The site is only hosted locally on my Raspberry Pi 3 so I have a link to the invision prototype instead.
            h5 Technologies: MongoDB, Express, Angular, Node.js, Cura, Johnny-Five, Arduino Nano, Sass
            a(href="#projects-anchor")
              .learn-more Learn more
          .additional-infos
            a(href="https://invis.io/F9D6XWWZV")
              .additional-info Prototype
            a(href="https://github.com/DLopez6877/drinken")
              .additional-info View Code
            a(href="https://youtu.be/Ove5rQImxyU")
              .additional-info Video
          .featured-project-image.project4
            img(src="/assets/images/devices4.png")
        .description
          h3 About
          h5 Drinken was my capstone project for Epicodus and I presented it at my classes demo day. I was inspired to make this drink mixing robot because I had learned a large deal about Arduino boards and Johnny-Five(javascript robotics library) while working on the P.O.L.L.I. robotic arm project and wanted to extend that knowledge. I wanted to use the MEAN stack because I was never able to fully implement it into the robotic arm project and I had the knowledge to make it work.
          h3 Design Choices
          h5 Drinken is dutch for "drink". I got the idea for the name from Keurig which is dutch for "neat". I drew a lot of inspiration from Keurig because they could both be considered kitchen appliances that are novelties. I originally designed the branding to be high energy and pop out at you with a kitchen esque vibe. 
          img(src='/assets/images/drinken-design.png')
          h5 But after getting feedback I did a complete 180 and changed the tone to more a regal feel. The final product uses maroonish red and earthy tones to make sense of elegance and novelty. I redesigned the drink options layout because it was too "tetrisy" and confusing.
          img(src='/assets/images/user-stories.png')
          h3 Process
          h5 I came across the idea while looking up arduino projects people had done and saw a lot of different variations of this project. Every project was using peristaltic pumps in one way or another but the most impressive overall structure I found was from 
          <a href="http://yujiangtham.com/2014/05/25/build-your-very-own-drink-mixing-robot-part-1/">Yu Jiang Tham</a> who not only 3d printed his structure but also provided .STL files for the structure to be used as open source. I didn't know anything about 3d printing so I asked around and heard about a free intro to 3d modeling class at the local library. I attended the very next class and three hours later I was ready to print my first piece on the library's 3d printer. It was the smallest piece and in an hour and 20 minutes later I had one out of 19 pieces. Unfortunately, this wasn't going to work because the printer was high in demand and my Cura 3d printing software was informing me I had over 40 hours of total print time. I called the single piece a success and outsourced the rest of the printing.
          h5 This project ended up being way more challenging than I anticipated because the combination of hardware and using unfamiliar technologies made troubleshooting extremely difficult. At one point I spent an hour trying to figure out why my code wasn't pouring the drinks only to discover I accidentally unplugged the power. In the end, I presented this project at a demo day event and I had learned so much over the process that I was confident in my ability to troubleshoot any problems if they would have occurred.
          a(href="#projects-anchor")
            .back-overview <i>←</i>back to overview
      .feature-wrapper#project5.initially-hidden
        h2 Weekend Project Portfolio
        .featured-project
          .tldr
            h5 This is a portfolio that was created over a weekend as an independent project assignment. I decided to showcase this project because it features many other projects I did during the earlier stages of my time at Epicodus. A few of the projects are not responsive because they were created before I was familiar with the concept.
            h5 Technologies: JQuery, Sass
            a(href="#projects-anchor")
              .learn-more Learn more
          .additional-infos
            a(href="http://rawgit.com/dlopez6877/portfolio-redux/master/portfolio.html")
              .additional-info View Site
            a(href="https://github.com/DLopez6877/portfolio-redux")
              .additional-info View Code
          .featured-project-image.project4
            img(src="/assets/images/devices5.png")
        .description
          p This is a portfolio that was created over a weekend as an independent project assignment. I decided to showcase this project because it features many other projects I did during the earlier stages of my time at Epicodus. A few of the projects are not responsive because they were created before I was familiar with the concept.
          p The resume and contact links are not completed since I originally planned to come back and complete those pages but ended up deciding I didn't like the direction this portfolio was going.
    footer
      .copy © Daniel J. Lopez
