html
  head
    title Daniel Lopez
    script(src="/js/jquery-3.2.1.min.js")
    script(src="build/js/app.js")
    link(rel="stylesheet" type="text/css" href="build/css/styles.css")
  body
  #grid
    header
      img(src="../assets/images/logo-white.png")
      h1 Daniel Lopez
      h4 Web Designer
      h4 &
      h4 Web Developer
    nav
      ul
        li about
        li resume
        li activity
        li contact
    .featured-image
    .container
      .container-head
        h1 Projects
        .pagination
      h3 this is where there content goes
    footer
      .copy © copyright goes here
