html
  head
    title Daniel Lopez
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/js/jquery-3.2.1.min.js")
    script(src="build/js/app.js")
    link(rel="stylesheet" type="text/css" href="build/css/styles.css")
  body
  #intro
    img(src="/assets/images/logo-slash.svg")
    img(src="/assets/images/logo-flick.svg")
    #flick
    #slash
    img(src="/assets/images/logo-initials.svg")
  #grid
    header
      img(src="/assets/images/logo-white.png")
      h2 Daniel Lopez
      h4 Web Developer
      h4 &
      h4 Web Designer
    nav
      ul#nav-ul
        a(href="#projects-anchor")
          li.projects-nav Projects
        li.about-nav About Me
        a(href="https://github.com/DLopez6877")
          li My Github
        li.contact-nav Contact
        .contact-info.initially-hidden
          a(href='https://www.linkedin.com/in/dlopez6877/')
            .icon
              img(src='/assets/images/linkedin-icon.png')
            p LinkedIn
          a(href='mailto:dlopez6877@gmail.com')
            .icon
              img(src='/assets/images/email-icon.png')
            p Gmail
    .featured-image
      //-  all photos taken from unsplash.com
      //-     robot photo provided by Siyan Ren
      //-     bananna photo provided by Mike Dorner
      //-     pills photo provided by freestocks.org
      //-     drink photo provided by Joanna Kosinska
      //-     lego photo provided by Daniel Cheung
    .container#about-container.initially-hidden
      .container-head
        h1 About
      p#bio Daniel Lopez is a web developer, web designer, and full-time geek. He spends most of his time inside his humble abode in front of his computer in Vancouver, WA. Although he is a simple man, he likes to dabble in complex theories and considers himself a tinker of things and stuff. You could imagine his excitement when he discovered Arduino boards for the first time a few months ago. Can you say, “instant hobby”? Although his bio is a bit odd and he is referring to himself in the third person, Daniel is a delightful character that strides headfirst into new challenges.
      ul
        li 
          a(href="https://codepen.io/DLopez6877/") Codepen: <span>https://codepen.io/DLopez6877/</span>
        br
        br
        li Employment Status: <span>Looking for a job.</span>
        br
        li Favorite Book: <span>Ready Player One</span>
        br
        li Favorite TV Show: <span>Rick and Morty</span>
        br
        li Favorite Video Game: <span>Fifa</span>
        br
        li Favorite Soccer Team: <span>Portland Timbers</span>
        br
    .container#project-container
      #projects-anchor.container-head
        h1 Projects
        .pagination
          .page-link.active-page-link.page-link1
          .page-link.page-link2
          .page-link.page-link3
          .page-link.page-link4
          .page-link.page-link5
      .feature-wrapper#project1
        .featured-project
          h2 P.O.L.L.I. the robotic arm
          .featured-project-image.project1
            img(src="/assets/images/devices1.png")
          .image-links
            .image-link
              img(src="/assets/images/phone1.png")
            .image-link
              img(src="/assets/images/tablet1.png")
            .image-link
              img(src="/assets/images/laptop1.png")
            .image-link
              img(src="/assets/images/desktop1.png")
        .additional-infos
          a(href="https://sigtaba.github.io/P.O.L.L.I/")
            .additional-info Website
          a(href="https://github.com/irishdowd10/P.O.L.L.I")
            .additional-info Github
          a(href="https://www.youtube.com/watch?v=2-coaPPl-Yk&feature=youtu.be")
            .additional-info Video
        .description
          p P.O.L.L.I is an interactive robotic arm that can be controlled through a mobile-friendly website or by hand motion. The project was proposed by John Dowd during week 5 of the Javascript course at Epicodus. Pete Lazuran, Isabella Abatgis, and myself quickly signed on as members. 
          p The project was created using Johnny-Five to write the robotic-specific methods in JavaScript and using express as middleware to make the user-interface.
      .feature-wrapper#project2.initially-hidden
        .featured-project
          h2 Dad Joke Generator
          .featured-project-image.project2
            img(src="/assets/images/devices2.png")
          .image-links
            .image-link
              img(src="/assets/images/phone2.png")
            .image-link
              img(src="/assets/images/tablet2.png")
            .image-link
              img(src="/assets/images/laptop2.png")
            .image-link
              img(src="/assets/images/desktop2.png")
        .additional-infos
          a(href="http://rawgit.com/calvincushman/dad-joke-generator/master/index.html")
            .additional-info Website
          a(href="https://github.com/calvincushman/dad-joke-generator")
            .additional-info Github
        .description
          p Dad Joke Generator was a group project created during the CSS course at Epicodus. Members were Corey Redding, Justin Gomez, Calvin Cushman, and Daniel Lopez. The project was created over 4 days. All the images on the home screen were drawn by Corey Redding. 
          p Corey primarily worked on the drawings and then animations. Justin and Calvin primarily worked on adding jokes and then animations. I worked on migrating the animations from code pen, user-interface, and layout.
      .feature-wrapper#project3.initially-hidden
        .featured-project
          h2 Find a Doctor
          .featured-project-image.project3
            img(src="/assets/images/devices3.png")
          .image-links
            .image-link
              img(src="/assets/images/phone3.png")
            .image-link
              img(src="/assets/images/tablet3.png")
            .image-link
              img(src="/assets/images/laptop3.png")
            .image-link
              img(src="/assets/images/desktop3.png")
        .additional-infos
          a(href="https://github.com/DLopez6877/doctor-api")
            .additional-info Github
        .description
          p Find a Doctor was an independent project created during the Javascript course at Epicodus. The project was created over one weekend and was designed to test our knowledge of api calls and gulp. Uses both betterdoctor api and googlemaps api.
          p I wanted to design the webpage to have a friendly medical feel so I went with the color blue. The layout was loosly based off of a DevTips (Devin Allen) <a href="https://www.youtube.com/watch?v=jMW0bmrb2n4">youtube video</a> about full screen models and splash pages.
      .feature-wrapper#project4.initially-hidden
        .featured-project
          h2 Drinken (automated bartender)
          .featured-project-image.project4
            img(src="/assets/images/devices4.png")
          .image-links
            .image-link
              img(src="/assets/images/phone4.png")
            .image-link
              img(src="/assets/images/tablet4.png")
            .image-link
              img(src="/assets/images/laptop4.png")
            .image-link
              img(src="/assets/images/desktop4.png")
        .additional-infos
          a(href="https://github.com/DLopez6877/funder")
            .additional-info Github
          a(href="https://youtu.be/Ove5rQImxyU")
            .additional-info Video
        .description
          p Drinken is an automated bartender machine. As a user you are able to select a drink, then select the size you want and press the pour drink button. Drinken will then pour you a drink based on the recipe programmed into the database as the button animates to work as a countdown timer for when your drink will be ready. You are also able to add, edit, and delete drinks from the interface. It currently is located in my living room connected to a Rasberry Pi 3 so I can have it pour me drinks from my phone.
          p Technologies used: MongoDB, Express.js, Angular2, Node.js, Johnny-Five, Sass, Cura(3d printing)
          p I decided to do this project because while researching how to build a robotic arm (P.O.L.L.I.) I came across a lot of similar automated bartender projects. One of which was from <a href="http://yujiangtham.com/2014/05/25/build-your-very-own-drink-mixing-robot-part-1/">Yu Jiang Tham</a> who provided .STL files for the structure that could be 3d printed and a great reference at times.
      .feature-wrapper#project5.initially-hidden
        .featured-project
          h2 Weekend Project Portfolio
          .featured-project-image.project4
            img(src="/assets/images/devices5.png")
          .image-links
            .image-link
              img(src="/assets/images/phone5.png")
            .image-link
              img(src="/assets/images/tablet5.png")
            .image-link
              img(src="/assets/images/laptop5.png")
            .image-link
              img(src="/assets/images/desktop5.png")
        .additional-infos
          a(href="http://rawgit.com/dlopez6877/portfolio-redux/master/portfolio.html")
            .additional-info Website
          a(href="https://github.com/DLopez6877/portfolio-redux")
            .additional-info Github
        .description
          p This is a portfolio that was created over a weekend as an independent project assignment. I decided to showcase this project because it features many other projects I did during the earlier stages of my time at Epicodus. A few of the projects are not responsive because they were created before I was familiar with the concept.
          p The resume and contact links are not completed since I originally planned to come back and complete those pages but ended up deciding I didn't like the direction this portfolio was going.
    footer
      .copy © Daniel J. Lopez
