#grid .container {
  grid-area: content;
  font-family: 'goudy';
  padding: 0 42px;
  font-size: 20px;
  @media (max-width: 550px) {
    padding: 0;
  }
  @media (min-width: 850px) {
    max-height: 100vh;
    overflow: scroll;
  }
  .container-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 950px) {
      flex-direction: column;
    }
    h1 {
      font-family: 'kristi';
      font-size: 120px;
      margin: 0 0 20px 0px;
      font-weight: 100;
    }
  }
  ul {
    margin-top: 40px;
    padding-left: 0;
    list-style: none;
  }
  span {
    font-family: 'benton thin';
  }
}

#bio {
  line-height: 1.5em;
  text-indent: 30px;
}

#grid #about-container {
  padding: 0 20px;
  @media (min-width: 550px) {
    padding: 0 62px;
  }
  @media (min-width: 850px) {
    padding: 0 42px;
  }
  a {
    color: $accent-color;
  }
}

#project-container {
  height: 100%;
}
