@import "header";
@import "nav";
@import "container";

body {
  margin: 0px;
  letter-spacing: .1em;
  font-family: 'benton thin';
  background: #000;
  color: #fff;
  transition: background 1s linear;
}

a {
  color: white;
  text-decoration: none;
}

.initially-hidden {
  display: none;
}

#grid {
  min-height: 100vh;
  display: grid;
    grid-gap: 0px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "header img content"
                         "nav img content"
                         "footer img content";
    @media (max-width: 850px) {
      grid-gap: 0;
      grid-template-rows: repeat(4, auto);
      grid-template-columns: 1fr;
      grid-template-areas: "header"
                           "nav"
                           "content"
                           "footer";
    }
}

#grid > * {
  padding: 0 10px;
  @media (max-width: 850px) {
    padding: 0;
  }
}

#grid .featured-image {
  grid-area: img;
  background-image: url(../../assets/images/robot-siyan-ren.jpeg);
  background-attachment: fixed;
  transition: background-position .3s linear;
  background-size: cover;
}

footer {
  grid-area: footer;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  opacity: .8;
  .copy {
    padding: 4px 1px 2px 3px;
  }
}
