nav {
  grid-area: nav;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: 'benton thin';
    text-align: center;
    padding: 0;
    @media (max-width: 850px) {
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 20px 20px 0 20px;
    }
  }
  li {
    margin-top: 30px;
    padding: 10px;
    line-height: 20px;
    @extend %link-hover;
  }
}
