.featured-project {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    @media screen and (max-height: 900px) {
      display: none;
    }
    text-align: center;
  }
  img {
    width: 100%;
    max-width: 700px;
    margin: 16px auto;
  }
}

.image-links {
  display: flex;
  justify-content: center;
  @media screen and (max-height: 900px) {
    display: none;
  }
  .image-link {
    background-color: fade-out(white, .9);
    width: 85px;
    height: 85px;
    border: solid 2px;
    border-color: #ccc #555 #fff #aaa;
    margin: 10px ;
    transition: all .2s cubic-bezier(0.65, 0.69, 0.87, 1.5);
    &:hover {
      box-shadow: 0 0 30px $accent-color;
    }
    @media screen and (max-width: 850px) {
      height: 70px;
      width: 70px;
    }
  }
}

.additional-infos {
  display: flex;
  justify-content: space-around;
  font-family: 'benton thin';
  .additional-info {
    padding: 10px;
    line-height: 20px;
    @extend %link-hover;
  }
}

.description {
  line-height: 1.5em;
  margin-bottom: 30px;
  text-align: justify;
  a {
    @extend %link-hover;
    color: $accent-color;
  }
}
