.featured-project {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 850px) {
    flex-direction: column-reverse;
  }
}

h2 {
  margin-bottom: 0;
  text-align: center;
}

.feature-wrapper {
  img {
    display: block;
    width: 90%;
    max-width: 700px;
    margin: 0 auto 16px auto;
  }
}

.tldr {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  padding-top: 10px;
  @media (max-width: 550px) {
    padding: 0 20px;
  }
  h5 {
    margin: 12px 0;
  }
  .learn-more {
    display: inline-block;
    font-size: 18px;
    margin-top: 0px;
    color: $accent-color;
    cursor: pointer;
    transition: letter-spacing .2s cubic-bezier(0.65, 0.69, 0.87, 1.5);
    &:hover {
      letter-spacing: .3em;
    }
  }
}


.additional-info {
  padding: 10px 10px 1px 10px; //1px for border transition
  border-bottom: 1px solid fade-out($accent-color, 1);
  transition: all .4s ease-in;
  @extend %link-hover;
  &:hover {
    border-bottom: 1px solid $accent-color;
    padding-bottom: 7px;
    margin-bottom: -7px;
  }
  @media (max-width: 400px) {
    font-size: 14px;
  }
}

.back-overview {
  text-align: center;
  font-family: 'benton thin';
  font-size: 16px;
  transition: all .2s cubic-bezier(0.65, 0.69, 0.87, 1.5);
  cursor: pointer;
  color: $accent-color;
  i {
    transition: all .2s cubic-bezier(0.65, 0.69, 0.87, 1.5);
    display: inline-block;
    transform: translate(-8px, 2px);
  }
  &:hover {
    i {
      transform: translate(-14px, 2px);
    }
  }
}

.description {
  display: none;
  margin-bottom: 30px;
  h3 {
    border-bottom: 1px solid white;
  }
  a {
    color: $accent-color;
  }
  @media (max-width: 850px) {
    padding: 0 20px;
  }
}
