.pagination {
  display: flex;
  margin-left: -20px;
  margin-bottom: 30px;
  position: relative;
  @media (min-width: 950px) {
    margin-left: 0;
  }
  h5 {
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    text-align: center;
    span {
      cursor: pointer;
      transition: all .2s cubic-bezier(0.65, 0.69, 0.87, 1.5);
    }
    span:hover {
      color: $accent-color;
    }
  }
  i {
    transition: all .2s cubic-bezier(0.65, 0.69, 0.87, 1.5);
    display: inline-block;
    margin: 0 2px;
    transform: translateY(2px);
  }
  .back-overview {
    display: none;
    position: absolute;
    left: 18px;
    text-align: center;
    top: 55px;
    i {
      transform: translate(-5px, 2px);
    }
  }
}

#prev:hover {
  i {
    transform: translate(-5px, 2px);
  }
}

#next:hover {
  i {
    transform: translate(5px, 2px);
  }
}

.page-link {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  background-color: fade-out(white, .75);
  border-radius: 50%;
  border: solid 3px white;
  transition: all .2s cubic-bezier(0.65, 0.69, 0.87, 1.5);
  &:hover {
    background-color: fade-out($accent-color, .25);
    border-color: transparent;
    transform: scale(1.6);
    cursor: pointer;
  }
}

.page-link:first-of-type{
  margin-left: 0;
}


.active-page-link {
  background-color: white;
}
